<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.hibernate.validator" level="ERROR"/>
    <logger name="org.jboss.logging" level="ERROR"/>
    <logger name="org.jboss.weld" level="ERROR"/>

    <logger name="co.luminositylabs.config" level="DEBUG"/>

</configuration>
